<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>火をつける君</h1>
        <form action="/snafkinSkill" method="GET">
            <!--対戦相手:<input type="text" name="name">-->
            <select name="name">
                <option value="who">--- 誰を選択しますか? ---</option>
                <option value="1">R-指定</option>
                <option value="2">呂布カルマ</option>
                <option value="3">黄猿</option>
              </select>
            <input type="submit" value="火を付ける">
        </form>
    </body>
</html>